#tag-cloud
  .tag-cloud-title
    color: $color-meta
  .tag-cloud-tags
    clear: both
    text-align: center
    overflow: hidden
    a
      display: inline-block
      margin: 0 10px 4px 0
      float: left
      white-space: nowrap
      line-height: 23px
